<%@ Master Language="C#" AutoEventWireup="true" CodeBehind="ROFR_Popup.master.cs" Inherits="ROFR.Masters.ROFR_Popup" %>

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title>
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
          <!-- CSS -->
    <link href="../reports1/css/bootstrap.min.css" rel="stylesheet" />
   
    <link href="../style.css" rel="stylesheet" />
  
  
    <link href="../reports1/css/font-awesome.css" rel="stylesheet" />

    <asp:ContentPlaceHolder ID="head" runat="server">
    </asp:ContentPlaceHolder>
</head>
<body>
    <form id="form1" runat="server">
    <div>
        <asp:ContentPlaceHolder ID="ContentPlaceHolder1" runat="server">
        
        </asp:ContentPlaceHolder>
    </div>
    </form>
</body>
</html>
