<%@ Master Language="C#" AutoEventWireup="true" CodeBehind="Loans.master.cs" Inherits="ROFR.Loans.Loans" %>

<!DOCTYPE html>

<html>
<head runat="server">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="Cache-Control" content="no-cache" />
    <meta http-equiv="Pragma" content="no-cache" />
    <meta http-equiv="Expires" content="0" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="shortcut icon" href="../Loans/assets/images/favicon.png" type="image/vnd.microsoft.icon">

    <style type="text/css">
        @media (min-width: 1200px) {
            .page-header-content {
                padding-left: 1rem;
                padding-right: 1rem;
            }
        }

        .card {
            box-shadow: 0 3px 15px 0 #E0E0E0;
            border-radius: 11px;
        }

        .card-header .card-title {
            font-weight: 800;
            font-family: "Roboto";
            font-size: 16px;
        }

        .card-body fieldset {
        }

        .card-body .bg-primary-800 {
            background-color: #174d8b;
        }

        .card-body legend {
            margin-bottom: 0.50rem;
            font-family: "Roboto", Arial, sans-serif !important;
            font-weight: 600;
            font-size: 13px;
            padding: 5px 10px !important;
        }

        .card-body .form-group {
            margin: 0.5rem 0.5rem;
        }

            .card-body .form-group .required {
                color: red;
            }

            .card-body .form-group .form-control, .card-body .form-group button {
                padding: 0.2rem 1rem !important;
                height: 28.4px;
            }

            .card-body .form-group select.form-control:not([size]):not([multiple]) {
                height: 28.4px;
            }

            .card-body .form-group .btn-primary {
                background-color: #174d8b;
            }

        .font-telugu h2 {
            font-size: 30px;
            font-family: 'Ramabhadra', sans-serif;
            text-shadow: 2px 2px rgba(0,0,0,0.3);
            line-height: 1.2;
        }

        .custom-bg {
            background: url(../Loans/assets/images/header-bg.jpg);
            background-repeat: no-repeat;
            background-position: center right;
            background-size: cover;
        }

        /*Loader*/
        .loader {
            position: fixed;
            left: 0px;
            top: 0px;
            width: 100%;
            height: 100%;
            z-index: 9999;
            background: url('../Loans/assets/images/loader.gif') 50% 50% no-repeat #ffffffb8 !important;
        }

        .table th, .table td {
            padding: 0.25rem 0.25rem !important;
        }

        legend {
            background: #004085;
            padding: 4px 22px;
            border-radius: 3px;
            color: white;
            font-size: 16px;
        }

        fieldset {
            border: 2px solid gray !important;
            border-radius: 3px;
            padding: 10px !important;
        }

        .w-72 {
            width: 72% !important;
        }

        .card {
            box-shadow: 0px 5px 10px rgba(0,0,0,0.3);
        }

        .table-wrap {
            max-height: 150px;
            overflow: auto;
        }

        /*.dropdown:hover > .dropdown-menu {
            display: block;
        }*/

        .dropdown-menu-right {
            left: 0 !important;
            right: auto !important;
        }

        .card-header .card-title {
            margin-bottom: 0;
            font-weight: 500;
            font-size: 16px !important;
        }

        .form-control {
            background-color: #efefef !important;
            font-weight: bold;
        }

            .form-control:disabled {
                color: #000 !important;
            }

        .card-body {
            padding: 0.50rem !important;
        }

            .card-body .form-group {
                margin: 0.25rem 0.25rem !important;
            }
    </style>

    <link href="../Loans/assets/css/icons/icomoon/styles.css" rel="stylesheet" type="text/css">
    <link href="../Loans/assets/css/icons/material/icons.css" rel="stylesheet" type="text/css">
    <link href="../Loans/assets/css/bootstrap.css" rel="stylesheet" type="text/css">
    <link href="../Loans/assets/css/bootstrap_limitless.css" rel="stylesheet" type="text/css">
    <link href="../Loans/assets/css/layout.css" rel="stylesheet" type="text/css">
    <link href="../Loans/assets/css/components.css" rel="stylesheet" type="text/css">
    <link href="../Loans/assets/css/colors.css" rel="stylesheet" type="text/css">
    <link href="../Loans/assets/css/slick.css" rel="stylesheet" />
    <link href="../Loans/assets/css/slick-theme.css" rel="stylesheet" />

    <link href="../Loans/assets/flaticon/flaticon.css" rel="stylesheet" type="text/css">
    <link href="../Loans/assets/css/hover.css" rel="stylesheet" type="text/css">
    <link href="../Loans/assets/css/style.css" rel="stylesheet" type="text/css">

    <script src="../Loans/assets/js/jquery.min.js"></script>
    <script src="../Loans/assets/js/bootstrap.bundle.min.js"></script>

    <script src="../Loans/assets/plugins/uniform.min.js"></script>
    <script src="../Loans/assets/plugins/switch.min.js"></script>
    <script src="../Loans/assets/plugins/spin.min.js"></script>
    <script src="../Loans/assets/plugins/ladda.min.js"></script>
    <script src="../Loans/assets/plugins/components_buttons.js"></script>
    <script src="../Loans/JS_Modules/moment.js"></script>

    <script src="../Loans/JS_Modules/angular.min.js"></script>
    <script src="../Loans/JS_Modules/network.js"></script>
    <script src="../Loans/JS_Modules/SweetAlert2.js"></script>
    <script src="/Loans/assets/js/excel.js"></script>

    <script type="text/javascript" language="javascript">
        function DisableBackButton() {
            window.history.forward(1)
        }
        DisableBackButton();
        window.onload = DisableBackButton;
        window.onpageshow = function (evt) { if (evt.persisted) DisableBackButton() }
        window.onunload = function () { void (0) }

        $(document).keydown(function (event) {
            if (event.keyCode == 123) { // Prevent F12
                return false;
            } else if (event.ctrlKey && event.shiftKey && event.keyCode == 73) { // Prevent Ctrl+Shift+I
                return false;
            }
            else if (event.ctrlKey && event.shiftKey && event.keyCode == 74) { // Prevent Ctrl+Shift+J
                return false;
            }
        });

        $(document).on("contextmenu", function (e) {
            e.preventDefault();
        });
    </script>

    <script type="text/javascript">
        var curruserid = sessionStorage.getItem("USER_ID");
        var curruserrole = sessionStorage.getItem("ROLE");
        $(document).ready(function () {
            CheckUser();
            MenuSetup();

            $("#loginusername").html(sessionStorage.getItem("USER_NAME"));
            $("#loginuserbank").html(sessionStorage.getItem("BANKNAME"));
            $("#loginuserbranch").html(sessionStorage.getItem("BRANCH_NAME"));
        });

        function CheckUser() {
            if (!curruserid || !curruserrole) {
                sessionStorage.clear();
                swal("info", "Session Expired !!!", "info");
                location.href = '../Loans/Login.aspx';
                return;
            }
        }

        function MenuSetup() {
            if (curruserrole == "Admin") {
                $("#isdisplayloan").hide();
                $("#newbranch").show();
                $("#branchuser").show();
                $("#chnageupwd").show();
                $("#uprofile").show();
            }
            else {
                $("#isdisplayloan").show();
                $("#newbranch").hide();
                $("#branchuser").hide();
                $("#chnageupwd").hide();
                $("#uprofile").hide();
            }

            if (curruserrole == "Assistant Manager" || curruserrole == "Branch Manager") {

                $("#loaninfoapp").show();
                $("#loanrelentry").show();
                $("#loanrelapp").show();
                $("#loanrejlist").show();
            }
            else {

                $("#loaninfoapp").hide();
                $("#loanrelentry").hide();
                $("#loanrelapp").hide();
                $("#loanrejlist").hide();
            }
        }

        function GetLogout() {
            sessionStorage.clear();
            swal("info", "Logout Successfully !!!", "info");
            location.href = '../Loans/Login.aspx';
            return;
        }
    </script>

    <style type="text/css">
        .head_table tr td {
            border: none;
            font-weight: 500;
            font-size: 16px;
        }

            .head_table tr td:first-child {
                color: #00ff4e;
            }

            .head_table tr td label {
                margin-bottom: 0
            }
        .mi-arrow-drop-down {
        font-size: 20px !important;
        }
        @media screen and (max-width: 1366px) {
            .head_table tr td {
                font-size: 14px;
            }
        }
    </style>

    <asp:ContentPlaceHolder ID="head" runat="server">
    </asp:ContentPlaceHolder>
</head>

<body data-ng-app="GBLI">
    <button onclick="topFunction()" id="myBtn" title="Go to top"><i class="icon-arrow-up16"></i></button>
    <div class="page-header page-header-dark cust-page-header ng-scope custom-bg">

        <div class="container-fluid">
            <div class="row my-1">
                <div class="col-md-2">
                    <img src="../Loans/assets/images/newcmimg.jpg" class="mx-auto d-block img-fluid" style="height: 70px;">
                    <div class="text-center" style="font-size: 10px;">
                        శ్రీ.వై.ఎస్.జగన్ మోహన్ రెడ్డి గారు<br>
                        గౌ.ముఖ్యమంత్రివర్యులు<br>
                        ఆంధ్రప్రదేశ్ ప్రభుత్వం
                    </div>
                </div>
                <div class="col-md-5">
                    <div class="mt-3 d-flex font-telugu justify-content-center">
                        <h2 class="text-center mx-2">ఆంధ్రప్రదేశ్ ప్రభుత్వం<br>
                            గిరిజన సంక్షేమ శాఖ</h2>
                        <img src="../Loans/assets/images/ap-logo.png" height="70px">
                        <h2 class="text-center mx-2 mt-2" style="line-height: 1; font-size: 50px;">గిరి భూమి<br>
                            <p style="font-size: 13px;">భూమి రికార్డుల వివరములు - ప్రజా పోర్టల్</p>
                        </h2>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="mt-3 d-block">
                        <table class="table head_table">
                            <tr>
                                <td>User</td>
                                <td>:
                                    <label id="loginusername"></label>
                                </td>
                            </tr>
                            <tr>
                                <td>Bank</td>
                                <td>:
                                    <label id="loginuserbank"></label>
                                </td>
                            </tr>
                            <tr>
                                <td>Branch</td>
                                <td>:
                                    <label id="loginuserbranch"></label>
                                </td>
                            </tr>
                        </table>

                    </div>
                </div>
                <div class="col-md-2">
                    <img src="../Loans/assets/images/minister.jpg" class="mx-auto d-block img-fluid" style="height: 70px;">
                    <div class="text-center" style="font-size: 10px;">
                        శ్రీమతి.పి.పుష్ప శ్రీవాణి గారు<br>
                        గౌ.ఉప
                        ముఖ్యమంత్రివర్యులు<br>
                        గిరిజన సంక్షేమ శాఖ
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="navbar navbar-expand-md navbar-dark bg-navbar-dark-custom custom-bg border-0 shadow-0">

        <div class="d-md-none w-100">
            <button type="button" class="navbar-toggler d-flex align-items-center w-100 collapsed" data-toggle="collapse" data-target="#navbar-navigation" aria-expanded="false" style="">
                <i class="icon-menu7 mr-2"></i>
                Menu
            </button>

        </div>


        <div class="navbar-collapse collapse" id="navbar-navigation">
            <ul class="navbar-nav navbar-nav-highlight">
                <li class="nav-item">
                    <a href="/Loans/LandingPage.aspx" class="navbar-nav-link">
                        Home
                    </a>
                </li>

                <li class="nav-item dropdown">
                    <a style="cursor: pointer;" class="navbar-nav-link" data-toggle="dropdown">
                        Administrator <i class="mi-arrow-drop-down mr-1"></i>
                    </a>
                    <div class="dropdown-menu dropdown-menu-right">
                        <a href="/Loans/BranchMasterEntry.aspx" id="newbranch" class="dropdown-item">New Branch</a>
                        <a href="/Loans/BranchUserCreation.aspx" id="branchuser" class="dropdown-item">New Branch User</a>
                        <a href="/Loans/ChangeMyPassword.aspx" class="dropdown-item">Change My Password</a>
                        <a href="/Loans/ChangeUserPassword.aspx" id="chnageupwd" class="dropdown-item">Change User Password</a>
                        <a href="/Loans/BranchUserUpdation.aspx" id="uprofile" class="dropdown-item">Update User Profile</a>
                    </div>
                </li>

                <li class="nav-item dropdown">
                    <a style="cursor: pointer;" class="navbar-nav-link" data-toggle="dropdown">
                        View Land Details <i class="mi-arrow-drop-down mr-1"></i>
                    </a>
                    <div class="dropdown-menu dropdown-menu-right">
                        <a href="/Loans/ForestAdangal.aspx" class="dropdown-item">Forest Adangal</a>
                        <a href="/Loans/RevenueAdangal.aspx" class="dropdown-item">Revenue Adangal</a>
                    </div>
                </li>

                <li class="nav-item dropdown" id="isdisplayloan">
                    <a style="cursor: pointer;" class="navbar-nav-link" data-toggle="dropdown">
                        Loan Module <i class="mi-arrow-drop-down mr-1"></i>
                    </a>
                    <div class="dropdown-menu dropdown-menu-right">
                        <a href="/Loans/LoanCreation.aspx" class="dropdown-item">Loan Information Creation</a>
                        <a href="/Loans/LoanApproval.aspx" id="loaninfoapp" class="dropdown-item">Loan Information Approval</a>
                        <a href="/Loans/LoanReleaseEntry.aspx" id="loanrelentry" class="dropdown-item">Loan Release Entry</a>
                        <a href="/Loans/LoanReleaseApproval.aspx" id="loanrelapp" class="dropdown-item">Loan Release Approval</a>
                        <a href="/Loans/LoanRejectedList.aspx" id="loanrejlist" class="dropdown-item">Loan Rejected List</a>
                    </div>
                </li>

                <li class="nav-item dropdown">
                    <a style="cursor: pointer;" class="navbar-nav-link" data-toggle="dropdown">
                        Reports <i class="mi-arrow-drop-down mr-1"></i>
                    </a>
                    <div class="dropdown-menu dropdown-menu-right">
                        <a href="/Loans/LoanApprovedList.aspx" class="dropdown-item">Loan Approved List</a>
                        <a href="/Loans/LoanReleasedList.aspx" class="dropdown-item">Loan Released List</a>
                        <a href="/Loans/LoanApprovalPendingList.aspx" class="dropdown-item">Loan Approval Pending List</a>
                        <a href="/Loans/LoanReleasePendingList.aspx" class="dropdown-item">Loan Release Pending List</a>
                        <a href="/Loans/SearchByCompartmentNo.aspx" class="dropdown-item">Loans Search By Compartment No</a>
                        <a href="/Loans/SearchByKathaNo.aspx" class="dropdown-item">Loans Search By Katha No</a>
                        <a href="/Loans/LoansByBranch.aspx" class="dropdown-item">Bank Wise Summary</a>
                        <a href="/Loans/LoansPrint.aspx" class="dropdown-item">Loans Print</a>
                    </div>
                </li>

            </ul>
            <ul class="navbar-nav navbar-nav-highlight ml-md-auto">

                <li class="nav-item">
                    <a style="cursor: pointer;" class="navbar-nav-link navbar-logout" onclick="GetLogout();"><i class="mi-power-settings-new mr-1 "></i>Logout</a>
                </li>
            </ul>
        </div>
    </div>

    <div>
        <asp:ContentPlaceHolder ID="ContentPlaceHolder1" runat="server">
        </asp:ContentPlaceHolder>
    </div>

    <!-- /page header content -->
    <!-- Footer -->
    <div class="navbar navbar-expand-lg navbar-light">
        <div class="text-center d-lg-none w-100">
            <span class="navbar-text">© Copyright Govt of AP. All Rights Reserved
            </span>
        </div>
    </div>

    <script type="text/javascript">

        /* Loader */
        $(window).on("load", function () {
            $(".loader").fadeOut("3000");
        });

        //Get the button
        var mybutton = document.getElementById("myBtn");
        window.onscroll = function () {
            scrollFunction()
        };

        function scrollFunction() {
            if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
                mybutton.style.display = "block";
            } else {
                mybutton.style.display = "none";
            }
        }

        function topFunction() {
            document.body.scrollTop = 0;
            document.documentElement.scrollTop = 0;
        }

    </script>

</body>


</html>
